<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.js"></script>

    <title>Template Customer</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <div class="list-group border-1" th:each="url:${urls}">
                <a th:href="${url.value}" th:text="${url.key}" class="list-group-item list-group-item-action">
                </a>
            </div>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
</body>
</html>